name: Build and Test

on:
  push:
    branches:
      - "*"

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: lindenlab/check-tag-action@v1
        with:
          mode: check

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --config .standard-lint.yml ./...

  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.18

    - name: Build
      run: make build

    - name: Test
      run: make cover

  tag-release:
    needs: [check-version, lint, build-and-test]
    runs-on: ubuntu-latest
    steps:
      - uses: lindenlab/check-tag-action@v1
        with:
          mode: tag
