name: Check Version

on:
  push:
    branches-ignore:
      - 'main'
  pull_request:

jobs:
  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check version
        run: ./tag.sh check_version
